.projects h1 {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid rgb(94, 92, 92);
  margin-top: 15px;
  padding: 20px;
}
.projectList {
  padding: 15px;
  gap: 50px;
  position: relative;
  justify-content: center;
}
